<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/"><i>League Manager</i></a>
        </div>



        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <div class="container-fluid">
                    <ul class="nav navbar-right">
                        {{moment d "dddd || MMMM DD || h:m"}}</ul>
                </div>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle navdrop" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" style="color: rgb(100, 173, 237);">Leagues <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{#each playerName }}
                            <li>{{playerAge}}</li>
                        {{/each}}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle navdrop" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" style="color: rgb(100, 173, 237);">Teams <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Team 1</a></li>
                        <li><a href="#">Team 2</a></li>
                        <li><a href="#">Team 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle navdrop" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" style="color: rgb(100, 173, 237);">Players <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Player 1</a></li>
                        <li><a href="#">Player 2</a></li>
                        <li><a href="#">Player 3</a></li>
                    </ul>
                </li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript" src="/assets/js/navteam.js"></script>

<script type="text/javascript" src="/assets/js/newplayer.js"></script>