<br>
<div class="container">
    <div class="row">
        <ul>
        <h1>SCHEDULE</h1>
        <h3>Date: Team1 vs Team2</h3>
        <h3>Date: Team1 vs Team2</h3>
        <h3>Date: Team1 vs Team2</h3>
        <h3>Date: Team1 vs Team2</h3>
        <h3>Date: Team1 vs Team2</h3>
        </ul>
    </div>
</div>