<h1>Create New Team</h1>
<div>
<div class="mb-3">
  <label for="validationTextarea">Team Name</label>
  <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea"
    required></textarea>
  <div class="invalid-feedback">

  </div>
</div>
</div>
<div class="mb-3">
  <label for="validationTextarea">Team Coach</label>
  <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea"
    required></textarea>
  <div class="invalid-feedback">

  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</div>