<div class="containerleague">
    <h1>Create New League</h1>
    <form>
        <div class="mb-3">
            <label for="validationTextarea">League Name</label>
            <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example text area"
                required></textarea>
            <div class="invalid-feedback">

            </div>
            <div class="mb-3">
                <label for="validationTextarea">Sport Type</label>
                <textarea class="form-control is-invalid" id="validationTextarea"
                    placeholder="Required example textarea" required></textarea>
                <div class="invalid-feedback">

                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="validationTextarea">League Owner</label>
            <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example text area"
                required></textarea>
            <div class="invalid-feedback">

            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
</div>

</form>
</div>