<div class="container">
    <div class="containerleague">
        <h1 class="col-md-12 text-center">Create New League</h1>
        <form>
            <div class="mb-3">
                <label for="validationTextarea">League Name</label>
                <textarea class="form-control is-invalid" id="validationTextarea" placeholder="" required></textarea>
                <div class="invalid-feedback">

                    <div class="containerleague">
                        <form>
                            <div class="mb-3">
                                <label for="validationTextarea">League Name</label>
                                <textarea class="form-control is-invalid" id="validationTextarea" placeholder=""
                                    required></textarea>
                                <div class="invalid-feedback">

                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">League Type</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp"></div>

                                    <div class="mb-3">
                                        <label for="validationTextarea">League Owner</label>
                                        <textarea class="form-control is-invalid" id="validationTextarea" placeholder=""
                                            required></textarea>
                                        <div class="invalid-feedback">

                                        </div>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
                                </div>

                        </form>
                    </div>
                </div>