<div class="conatiner">
    <form>
        <div class="mb-3">
            <label for="validationTextarea">League Name</label>
            <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea"
                required></textarea>
            <div class="invalid-feedback">

            </div>
<<<<<<< HEAD
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">League Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter League Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">League Type</label>
=======
            <div class="mb-3">
                <label for="validationTextarea">Sport Type</label>
                <textarea class="form-control is-invalid" id="validationTextarea"
                    placeholder="Required example textarea" required></textarea>
                <div class="invalid-feedback">

>>>>>>> master
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="validationTextarea">League Owner</label>
            <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea"
                required></textarea>
            <div class="invalid-feedback">

            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
</div>

</form>
</div>