<form>
  <div class="mb-3">
          <select class="custom-select" required>
            <option value="">How many athletes are on the team?</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
          </select>

          <div class="invalid-feedback">Select number of athletes</div>
        </div>
        <div class="mb-3">
            <label for="validationTextarea">Athletes Name</label>
            <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
            <div class="invalid-feedback">
              Please enter the athletes name
            </div>
        </div>
        <div class="mb-3">
            <label for="validationTextarea">Athletes Phone Number</label>
            <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
            <div class="invalid-feedback">
              Please enter the athletes phone number
            </div>
        </div>
        <h7>Athletes Picture</h7>
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="validatedCustomFile" required>
            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
            <div class="invalid-feedback">Please select image for coach</div>
        </div>
        <button type="button" class="btn btn-submit">Submit</button>

</form>