<div class="container-fluid">
    <h4 class="col-md-12 text-right" style="color: gray; margin-top: 0;">
        {{moment d "dddd || MMMM DD || h:mm"}}</h4>
</div>
<h1 class="col-md-12 text-center">Welcome to League Manager</h1><br>
<div class="col-md-12">
    <div class="row">
        <!--  <h3>image link</h3> -->
    </div>

</div>

{{!-- <h3 id="welcome_user" class="col-md-12 text-center">Insert username</h3> --}}
<br>

<div class="col-md-12 text-center">
    <a type="button" class="btn btn-warning" href="/createleague">Create New League</a>
    <br>
    <br>
    <a type="button" class="btn btn-warning" href="/createteam">Create New Team</a>
    <br>
    <br>
    <a type="button" class="btn btn-warning" href="/createplayer">Create New Player</a>
    <br>
    <br>
    <br>
    <a type="button" class="btn btn-info" href="/logout">Logout</a>
</div>
</div>