<div class="container">
    <h1>Welcome to League Manager </h1>
    <div class="col-md-12">
        <div class="row">
            <h3>image link</h3>
        </div>


    </div>

    <h3 id="welcome_user">Insert username</h3>


    <ul>
        <ul><a class="waves-effect waves-dark btn" href="/createleague">Create new League</a></ul>
        <ul><a class="waves-effect waves-dark btn" href="/createplayer">Create New Player</a></ul>
        <ul><a class="waves-effect waves-dark btn" href="/createteam">Create new Team</a></ul>

    </ul>
</div>