<h1>Welcome to League Manager </h1>
<div class="col-md-12">
    <div class="row">
        <h3>image link</h3>
    </div>
</div>
<h3>Insert username</h3>
<!-- <li><a class="waves-effect waves-dark btn" href="create_new_team.handlebars">Add new League</a></li>
<li><a class="waves-effect waves-dark btn" href="teams"> Current League</a></li> -->