<h1>Welcome to League Manager </h1>
<div class="col-md-12">
    <div class="row">
        <h3>image link</h3>
    </div>


</div>

<h3>Insert username</h3>


    <ul>
    <ul><a class="waves-effect waves-dark btn" href="howto.html">Add new League</a></ul>
    <ul><a class="waves-effect waves-dark btn" href="howto.html"> Current League</a></ul>
    <ul><a class="waves-effect waves-dark btn" href="/createplayer">Create New Player</a></ul>
    <ul><a class="waves-effect waves-dark btn" href="howto.html">Create new Team/a></ul>
    </ul>   

