<h1>Welcome to League Manager </h1>
    <div class="col-md-12">
        <div class="row">
            <h3>image link</h3>
        </div>
    </div>
    <h3>Insert username</h3>

    <ul>
    <li><a class="waves-effect waves-dark btn" href="howto.html">Add new League</a></li>
    <li><a class="waves-effect waves-dark btn" href="howto.html"> Current League</a></li>
<<<<<<< HEAD
<script>
=======
    <li><a class="waves-effect waves-dark btn" href="/createplayer">Create New Player</a></li>
    <li><a class="waves-effect waves-dark btn" href="howto.html">Create new Team/a></li>
    </ul>   
>>>>>>> 0450a3abad6949fd4b8f2749e4578ab42286d56b
