<br>
<div class="container">
    {{!-- <button type="button" class="btn btn-primary">Primary</button> --}}

    <div class="teamsContainer">
        <div class="card">
        League Name: {{data.leagueName}}
        <br>
        League Type: {{data.leagueType}}
        <br>
        League Owner: {{data.leagueOwner}}
        </div>
    </div>

</div>

<script type="text/javascript" src="/assets/js/leaguedetails.js"></script>
<script type="text/javascript" src="/assets/js/navbar.js"></script>