<div class="container">

    <h1>Match Input</h1>
    <form>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Home Team</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Celtics</option>
                        <option>Heat</option>
                        <option>Raptors</option>
                        <option>Bucks</option>
                    </select>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Score</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Points">
                    </div>
                </div>
            </div>
            </br>
            <div class="col-6">
                <label for="exampleFormControlSelect1">Away Team</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Celtics</option>
                    <option>Heat</option>
                    <option>Raptors</option>
                    <option>Bucks</option>
                </select>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Score</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Points">
                </div>
            </div>
        </div>
    </form>
</div>