<div class="container-fluid">
    <h4 class="col-md-12 text-right" style="color: gray; margin-top: 0;">
        {{moment d "dddd || MMMM DD || h:mm"}}</h4>
</div>
<div class="container">
    <div class="containerleague">
        <h1 class="col-md-12 text-center">Create New League</h1>
        <form class="league">
            <div class="mb-3">
                <label for="validationTextarea">League Name</label>
                <textarea class="form-control is-invalid" id="league-name" placeholder="" required></textarea>
                <div class="invalid-feedback">
                    <br>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">League Type</label>
                    <input class="form-control" id="league-type" aria-describedby="">
                </div>
                <br>
                <div class="mb-3">
                    <label for="validationTextarea">League Owner</label>
                    <textarea class="form-control is-invalid" id="league-owner" placeholder="" required></textarea>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/assets/js/newleague.js"></script>