<div class="container-fluid">
  <h4 class="col-md-12 text-right" style="color: gray; margin-top: 0;">
    {{moment d "dddd || MMMM DD || h:mm"}}</h4>
</div>
<div class="container">
  <div class="containerplayer">
    <h1 class="col-md-12 text-center">Create New Player</h1>

    <form class="player">
      <div class="mb-3">
        <label for="validationTextarea">Athletes Name</label>
        <textarea class="form-control is-invalid" id="name-input" placeholder="" required></textarea>
        <div class="invalid-feedback">
          <br>
        </div>
      </div>
      <div class="mb-3">
        <label for="validationTextarea">Athletes Age</label>
        <textarea class="form-control is-invalid" id="age-input" placeholder="" required></textarea>
        <div class="invalid-feedback">
          <br>
        </div>
      </div>

      <br>
      <button type="submit" class="btn btn-primary submit" style="float: right;">Submit</button>
    </form>
  </div>
</div>

<script type="text/javascript" src="/assets/js/newplayer.js"></script>