<br>
<div class="container">
    {{!-- <button type="button" class="btn btn-primary">Primary</button> --}}

    <div class="teamsContainer">
        <div class="card">
        Player Name: {{data.playerName}}
        <br>
        Player Age: {{data.playerAge}}
        </div>
    </div>

</div>

<script type="text/javascript" src="/assets/js/playerdetails.js"></script>
<script type="text/javascript" src="/assets/js/navbar.js"></script>