<br>
<div class="container">
    <button type="button" class="btn btn-primary">Primary</button>

    <div class="teamsContainer">
        <div class="card">
        </div>
    </div>

</div>

<script type="text/javascript" src="/assets/js/teams.js"></script>