<br>
<div class="container">
    {{!-- <button type="button" class="btn btn-primary">Primary</button> --}}

    <div class="teamsContainer">
        <div class="card">
        Team Name: {{data.teamName}}
        <br>
        Team Coach: {{data.teamCoach}}
        </div>
    </div>

</div>

<script type="text/javascript" src="/assets/js/teamdetails.js"></script>
<script type="text/javascript" src="/assets/js/navbar.js"></script>
