<br>
<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">team 1</a>
                    <a class="dropdown-item" href="#">team 2</a>
                    <a class="dropdown-item" href="#">team 3</a>
                </div>
            </div>
        </div>
    </div>
    </br>
    <div class="card mb-3">
        <img class="card-img-top" src="../images/Celtics.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Boston Celtics - Coach </h5>
            <p class="card-text">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">Win %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>300</td>
                        <td>200</td>
                        <td>60%</td>
                    </tr>
                </tbody>
            </table>
            </p>
            <p>Team Description</p>
            <h4>Roster</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Michael</td>
                        <td>Jackson</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>